/* .nav-list li.active a {
    font-weight: bold;
    border-bottom: 2px solid #d13dc5;
    position: relative;
}

.nav-list li.active a::before {
    content: '▶';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

nav {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #007BFF;
} */
body {
    background-color: #568eb4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #b9dbec;
    text-decoration: none;
    font-size: 22px;
}

nav ul li a:hover {
    font-family: '花体', cursive;
    font-size: 2em;
    position: relative;
    text-decoration: underline;
}

nav ul li a:hover::after {
    content: '\223D';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.8em;
    display: block;
}

main {
    padding: 20px;
}

main div {
    background-color: #7ec8ea;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

main div h2 {
    color: #333;
}

main div span {
    display: block;
    margin-bottom: 5px;
}

main div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

main div p {
    font-size: 16px;
    line-height: 1.6;
    color: #853131;
    margin-bottom: 15px;
}

main div h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

main div ul, main div ol {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

main div ul li, main div ol li {
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
@media only screen and (max-width: 600px) {

    body {
        font-size: 14px;
    }

    header {
        padding: 5px 0;
    }

    nav ul li {
        margin: 0 10px;
    }

    main div {
        padding: 10px;
    }
}
